
<!DOCTYPE HTML>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Guide&#58; Templates - Angular.js 1.6 - W3cubDocs</title>
  
  <meta name="description" content="In Angular, templates are written with HTML that contains Angular-specific elements and attributes. Angular combines the template with information &hellip;">
  <meta name="keywords" content="templates, guide, -, angular, js, angularjs~1.6">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="http://docs.w3cub.com/angularjs~1.6/guide/templates/">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-6cc8ff3c95d062e2cd87636799240e79e4553263ad7de9cda9464063203db436.css" integrity="sha256-bMj/PJXQYuLNh2NnmSQOeeRVMmOtfenNqUZAYyA9tDY=" crossorigin="anonymous">
  <script type="text/javascript" integrity="sha256-JOOcjTvTbt5QE9AmOH1rrXz8aKKfHMsOthbsjt9CNfk=" crossorigin="anonymous" src="/assets/application-24e39c8d3bd36ede5013d026387d6bad7cfc68a29f1ccb0eb616ec8edf4235f9.js"></script>
  <script src="/json/angularjs~1.6.js"></script>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-71174418-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-2572770204602497",
            enable_page_level_ads: true
        });
  </script>
  <script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body>
	<div class="_app">
	<header class="_header">
  
  <form class="_search">
    <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
    <a class="_search-clear"></a>
    <div class="_search-tag"></div>
  </form>
  
  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/angularjs~1.6/" class="_nav-link" title="" style="margin-left:0;">Angular.js 1.6</a></span>
  
  <nav class="_nav">
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		<div class="_list">
			
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<div class="_page _angularjs">
				
				
<h1 id="templates">
<a href="https://github.com/angular/angular.js/edit/v1.6.x/docs/content/guide/templates.ngdoc?message=docs(guide%2FTemplates)%3A%20describe%20your%20change..." class="improve-docs btn btn-primary" target="_blank">Improve this Doc</a>Templates</h1> <p>In Angular, templates are written with HTML that contains Angular-specific elements and attributes. Angular combines the template with information from the model and controller to render the dynamic view that a user sees in the browser.</p> <p>These are the types of Angular elements and attributes you can use:</p> <ul> <li>
<a href="../directive/">Directive</a> — An attribute or element that augments an existing DOM element or represents a reusable DOM component.</li> <li>
<a href="../../api/ng/service/%24interpolate/">Markup</a> — The double curly brace notation <code>{{ }}</code> to bind expressions to elements is built-in Angular markup.</li> <li>
<a href="../filter/">Filter</a> — Formats data for display.</li> <li>
<a href="../forms/">Form controls</a> — Validates user input.</li> </ul> <p>The following code snippet shows a template with <a href="../directive/">directives</a> and curly-brace <a href="../expression/">expression</a> bindings:</p> <pre data-language="html">&lt;html ng-app&gt;
 &lt;!-- Body tag augmented with ngController directive  --&gt;
 &lt;body ng-controller="MyController"&gt;
   &lt;input ng-model="foo" value="bar"&gt;
   &lt;!-- Button tag with ngClick directive, and
          string expression 'buttonText'
          wrapped in "{{ }}" markup --&gt;
   &lt;button ng-click="changeFoo()"&gt;{{buttonText}}&lt;/button&gt;
   &lt;script src="angular.js"&gt;&lt;/script&gt;
 &lt;/body&gt;
&lt;/html&gt;
</pre> <p>In a simple app, the template consists of HTML, CSS, and Angular directives contained in just one HTML file (usually <code>index.html</code>).</p> <p>In a more complex app, you can display multiple views within one main page using "partials" – segments of template located in separate HTML files. You can use the <a href="../../api/ngroute/directive/ngview/">ngView</a> directive to load partials based on configuration passed to the <a href="../../api/ngroute/service/%24route/">$route</a> service. The <a href="../tutorial//">angular tutorial</a> shows this technique in steps seven and eight.</p> <h2 id="related-topics">Related Topics</h2> <ul> <li><a href="../filter/">Filters</a></li> <li><a href="../forms/">Forms</a></li> </ul> <h2 id="related-api">Related API</h2> <ul> <li><a href="../api/">API Reference</a></li> </ul>
<div class="_attribution">
  <p class="_attribution-p">
    © 2010–2017 Google, Inc.<br>Licensed under the Creative Commons Attribution License 4.0.<br>
    <a href="https://code.angularjs.org/1.6.6/docs/guide/templates" class="_attribution-link" target="_blank">https://code.angularjs.org/1.6.6/docs/guide/templates</a>
  </p>
</div>

				<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
</amp-auto-ads>
			</div>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
</body>
</html>
